header{
  background-color: #4c49b4;}

.u-block-aa23-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-aa23-3 {
  position: absolute;
  left: 0;
}

.u-block-aa23-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/d5769c53/4168326/images/7057ed7b-f0ab-4fd9-8fec-e10bde670dd4.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1125px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  transition-duration: 1s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 4.5rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-decoration: underline !important;
  margin: 29px auto 0 51px;
}

.u-section-1-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px 139px 0 165px;
}

.u-section-1-1 .u-gallery-1 {
  height: 195px;
  width: 1040px;
  margin: 44px auto 0;
}

.u-section-1-1 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-1 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-2 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-3 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-4 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-5 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-1-1 .u-back-image-6 {
  width: 375px;
}

.u-section-1-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1-1 .u-btn-1 {
  margin: 29px auto 0;
}

.u-section-1-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  width: 837px;
  text-decoration: underline !important;
  margin: 16px auto 0;
}

.u-section-1-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 837px;
  margin: 13px auto 0;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 990px;
  margin: 30px auto 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-image-1 {
  height: 101px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0 20px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 220px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1-1 .u-image-2 {
  width: 208px;
  height: 101px;
  margin: 0 auto;
}

.u-section-1-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0 96px;
}

.u-section-1-1 .u-layout-cell-3 {
  min-height: 265px;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 30px 18px 0;
}

.u-section-1-1 .u-image-3 {
  height: 101px;
  margin: 0;
}

.u-section-1-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px auto 0;
}

.u-section-1-1 .u-layout-cell-4 {
  min-height: 265px;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1-1 .u-image-4 {
  height: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 39px;
    margin-left: 65px;
  }

  .u-section-1-1 .u-gallery-1 {
    width: 940px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-1-1 .u-image-1 {
    height: 94px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-1-1 .u-text-6 {
    margin-left: 91px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 252px;
  }

  .u-section-1-1 .u-image-3 {
    height: 95px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-layout-cell-4 {
    min-height: 252px;
  }

  .u-section-1-1 .u-image-4 {
    height: 93px;
    margin-top: -7px;
  }

  .u-section-1-1 .u-text-8 {
    margin-top: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1-1 .u-text-4 {
    width: 720px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-1-1 .u-image-1 {
    height: 161px;
  }

  .u-section-1-1 .u-text-5 {
    width: auto;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-1-1 .u-text-6 {
    width: auto;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 286px;
  }

  .u-section-1-1 .u-image-3 {
    height: 154px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-text-7 {
    width: auto;
    margin-right: 122px;
  }

  .u-section-1-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1-1 .u-image-4 {
    height: 159px;
    margin-top: 167px;
  }

  .u-section-1-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-image-1 {
    height: 279px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-1-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-image-3 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 215px;
  }

  .u-section-1-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-image-4 {
    height: 276px;
    margin-top: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 2235px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 25px;
    margin-left: 26px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-1-1 .u-gallery-1 {
    width: 248px;
    margin-top: 28px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-1-1 .u-text-3 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-1 .u-image-1 {
    height: 172px;
  }

  .u-section-1-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1-1 .u-image-3 {
    height: 152px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-text-7 {
    margin-right: 132px;
  }

  .u-section-1-1 .u-image-4 {
    height: 170px;
    margin-top: 77px;
  }
}

.u-section-1-1 .u-text-1,
.u-section-1-1 .u-text-1:before,
.u-section-1-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-text-1.u-text-1.u-text-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1-1 .u-text-1.u-text-1.u-text-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1-1 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline !important;
  margin: 7px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.88889rem;
  margin: 17px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 140px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 503px;
  height: 140px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 140px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 140px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-2 .u-image-1 {
    height: 113px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-image-2 {
    width: 410px;
    height: 114px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-2 .u-image-3 {
    height: 113px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-2 .u-image-4 {
    height: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-2 .u-image-1 {
    height: 83px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 83px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-2 .u-image-3 {
    height: 83px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-2 .u-image-4 {
    height: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 144px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 144px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-2 .u-image-1 {
    height: 89px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-2 .u-image-3 {
    height: 89px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-2 .u-image-4 {
    height: 89px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-3 {
  border-color: transparent !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-4 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-4 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 507px;
  margin: 43px auto 0 77px;
}

.u-section-3 .u-image-1 {
  min-height: 126px;
  background-image: url("https://assets.nicepagecdn.com/d5769c53/4168326/images/image-5.png");
  transition-duration: 0.5s;
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 124px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 78px;
  width: 498px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 37px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 124px;
}

.u-section-3 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-3 .u-image-3 {
  height: 64px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  width: 498px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 35px auto 0 0;
}

.u-section-3 .u-image-4 {
  width: 535px;
  height: 311px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -358px -20px 0 auto;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 89px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 101px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -353px;
    margin-right: -50px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 92px;
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 84px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 83px;
  }

  .u-section-3 .u-image-2 {
    height: 53px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 83px;
  }

  .u-section-3 .u-image-3 {
    height: 44px;
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 198px;
    margin-right: 0;
  }
}

.u-block-3141-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-3141-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3141-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-3141-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-3141-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout.hover .u-block-3141-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-3141-6:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 807px;
}

.u-section-4 .u-text-1 {
  text-decoration: underline !important;
  margin: 53px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-repeater-1 {
  min-height: 549px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 298px;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 298px;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 298px;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 298px;
  margin: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 253px;
  right: 14px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-4 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-2 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-3 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-4 .u-image-4 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 28px 22px;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    width: 280px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 22px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 28px 22px;
  }

  .u-section-4 .u-image-2 {
    height: 330px;
    width: 280px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 28px 22px;
  }

  .u-section-4 .u-image-3 {
    height: 330px;
    width: 280px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 22px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 28px 22px;
  }

  .u-section-4 .u-image-4 {
    height: 330px;
    width: 280px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 22px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 8px;
    margin-right: 8px;
  }
} .u-section-5 {
  min-height: 530px;
}

.u-section-5 .u-image-1 {
  height: 526px;
  margin-top: 2px;
  margin-bottom: 2px;
}.u-section-6 .u-sheet-1 {
  min-height: 954px;
}

.u-section-6 .u-text-1 {
  text-decoration: underline !important;
  margin: 53px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.88889rem;
  margin: 25px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 93px auto 0 -14px;
}

.u-section-6 .u-repeater-1 {
  min-height: 554px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 358px;
  height: 292px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 59px 91px 0 30px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 30px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 358px;
  height: 292px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 59px 91px 0 30px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 358px;
  height: 292px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 59px 91px 0 30px;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-image-4 {
  width: 358px;
  height: 292px;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 59px 91px 0 30px;
}

.u-section-6 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 14px;
  width: 40px;
  height: 40px;
  top: 197px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 186px;
  right: 12px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.27778rem;
  letter-spacing: 1px;
  margin: 14px auto 60px 410px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 277px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 277px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 277px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 277px;
  }
} .u-section-7 {
  background-image: url("https://assets.nicepagecdn.com/d5769c53/4168326/images/image-9.png");
  min-height: 416px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 380px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px calc(((100% - 1140px) / 2) + -47px) 20px auto;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 343px;
  }

  .u-section-7 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -47px);
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 263px;
  }

  .u-section-7 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -47px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 197px;
  }

  .u-section-7 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -47px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 124px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: url("https://assets.nicepagecdn.com/d5769c53/4168326/images/image-10.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.88889rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 193px 399px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 120px;
  }
}
