{% extends 'careerpath/layout.html' %} {% block body %}

  <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">You and Your career</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Explore Career Opportunities </h1>

                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- About Start -->
  <div class="container-fluid py-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-info text-uppercase">About Us</h5>
                    <h1>Your Lifelong Personal Transition Team</h1>
                </div>
                <p style="font-size: 26px;">The journey of understanding one's available technology career paths can be exciting and frustrating at the same time. It becomes even harder to get someone to guide you and provide the required support while exploring new career paths and transitioning into a new technology role. But we are here to help!​</p>
                <br>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-info me-3"></i>Career Explore Workshops</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-info me-3"></i>Professional Mentors</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-info me-3"></i>Lifelong Support</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-info me-3"></i>Free Trial</h5>
                    </div>
                </div>

                
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="https://images.unsplash.com/photo-1520399636535-24741e71b160?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- About End -->

  
{% endblock %}
